# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=super_cash



# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# App
PORT=5000

# Other settings
REFERRAL_PERCENTAGE=5
MIN_WITHDRAWAL=10000
WITHDRAWAL_FEE=0.02
